* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, Monospace;
  background: radial-gradient(circle at top, #1b1325, #0b0710);
  color: #e6dfff;
}

.app {
  max-width: 700px;
  margin: 0 auto;
  padding: 140px 20px 20px;
}